.ingredient {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-snap-align: end;
  cursor: pointer;
  transition: opacity 0.2s linear 0.05s;
}

.ingredient:hover {
  opacity: 0.7;
}

.ingredientDragging {
  composes: ingredient;
  filter: drop-shadow(16px 16px 20px red) invert(75%);
}

.price {
  display: flex;
}

.image {
  width: 240px;
  height: 120px;
}

.priceText {
  margin-right: 8px;
}

.name {
  height: 48px;
  width: 272px;
  text-align: center;
}
