.ingredient {
  position: relative;
}

.ingredientDragging {
  composes: ingredient;
  filter: drop-shadow(16px 16px 20px red) invert(75%);
}

.link {
  color: #f2f2f3;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-snap-align: end;
  cursor: pointer;
  transition: transform 0.2s linear 0.05s;
}

.link:hover {
  transform: scale(1.03);
}

.price {
  display: flex;
}

.image {
  width: 240px;
  height: 120px;
}

.priceText {
  margin-right: 8px;
  transition: all 0.2s linear 0.05s;
}

.name {
  height: 48px;
  width: 272px;
  text-align: center;
}
